<section id="about">
  <div class="row">
    <div class="small-12 large-10 columns">
      <h3>Why are we doing this?</h3>
      <p>Ever been to an average conference with 6 parallel sessions and unprepared speakers?<br/>
      Did you spend the day on your laptop doing something else?<br/>
      Did you go back home without having met new people and putting faces on avatars?</p>
      <p>We put our heart and soul to create the most friendly, human-focused and inspiring community event for everybody involved, by bringing some of the smartest & nicest folks in our industry to our backyard.</p>
      <p>We’ve attended all sorts of conferences and always appreciated it as a source of inspiration, education and networking opportunities, so we decided to create this brand new event that hopefully will help us all, designers and developers, to become better at what we do.</p>

      <h3>What can you expect?</h3>
      <p>As you will see from the schedule, we’ve been lucky enough to attract an excellent bunch of speakers that includes well-known faces as well as some brilliant rising stars. Oh boy! We were so excited when they said yes. Prepare to have your brains filled with some most excellent knowledge during 2 days of mobile-inspired awesome.</p>
      <p><b>Our promise:</b> if you attend, you will learn about stuff you didn’t know about before, will meet with people you haven’t met before, will be inspired, and possibly amazed. By the end of Saturday, you will definitely be exhausted.</p>
      <p>Sainté Mobile Days is worth it. If you are dissatisfied with your experience, let us know and we’ll refund 100% of your registration fee.</p>

      <h3>FAQ</h3>
      <dl>
        <dt>Will food and drink be provided?</dt>
        <dd>Yes, we will ensure you are fed and watered throughout the day.</dd>
        <dt>What is the schedule?</dt>
        <dd>Take a look to <a href="http://saintemobiledays.com/speakers">the speakers & talks page</a></dd>
      </dl>
    </div>
  </div>
</section>