<section id="cfp">
  <div class="row">
    <article class="small-12 large-8 columns">
      <header>
        <h4>Call for speakers</h4>
      </header>
      <p>We’re looking for great talks for SMD 2013. The call for speakers is now open. <br />Take a look and get those ideas flowing. We'll keep it open <b>until early August</b>, but the first batch of acceptances will go out in mid-June.</p>
      <p>
        <b>The conferences</b> last 20 or 35 minutes, followed by audience questions.<br />
        <b>Workshops</b> take place in smaller rooms for easier interactions. They can last for 2 or 3 hours.
      </p>
      <div id="wufoo-z7x3p3">
        <a href="http://saintemobiledays.wufoo.com/forms/z7x3p3">Online form</a>.
      </div>
      <script type="text/javascript">
        var z7x3p3;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'saintemobiledays',
        'formHash':'z7x3p3',
        'autoResize':true,
        'height':'1190',
        'async':true,
        'header':'show'};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { z7x3p3 = new WufooForm();z7x3p3.initialize(options);z7x3p3.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');
      </script>
    </article>
    <aside class="large-4 hide-for-small columns">
      <h5>Topics ideas</h5>
      <b>Mobile Development</b>
      <ul class="no-bullet"><li>Presentations on techniques, best practices ...</li></ul>
      <b>Mobile Design and UX</b>
      <ul class="no-bullet">
        <li>Designing for touch interactions</li>
        <li>Integration of location, sensors, and other device-specific APIs to enhance an application's utility</li>
        <li>Best practices in mobile UX</li>
        <li>Graphic design for mobile platforms (iOS, Android, mobile web, all three?)</li>
        <li>Anything and everything that will aid the creation of delightful and beautiful mobile software</li>
      </ul>
      <b>Cloud services</b>
      <ul class="no-bullet">
        <li>Platform as a Service (PaaS)</li>
        <li>Infrastructures and techniques</li>
        <li>Integrating server-side technologies with mobile applications</li>
        <li>High level app services, such as:&nbsp;Telephony, Notifications, Data persistence and storage, Logging, Crash reports, Testing and debugging, SMS, Billing and Payments</li>
        <li>Anything involving mobile and the cloud</li>
      </ul>
      <b>Mobile Strategy</b>
      <ul class="no-bullet">
        <li>Analyzing mobile development requirements</li>
        <li>Consistent branding across platforms</li>
        <li>Building mobile development teams</li>
        <li>Monetization strategies on mobile</li>
        <li>Anything and everything related to the business of mobile software development</li>
      </ul>
    </aside>
  </div>
</section>