<section class="intro-wrapper">
  <div class="intro">
    <div class="row">
      <div class="small-12 large-12 columns">
        <h1><span>Sainté</span> Mobile Days</h1>
        <h3 class="subheader">The most mobile event in France<br/> for designers, developers and entrepreneurs!</h3>
        <h3 class="subheader">22-23 November 2013 | Saint-Etienne, France</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <article class="small-12 large-10 columns">
      <header>
        <h4><b>SMD</b> 2013</h4>
      </header>
      <p>Sainté Mobile Days (SMD) is a two days conference aimed at mobile designers, developers, and entrepreneurs. SMD brings together mobile visionaries to discuss cutting edge topics such as HTML5 for mobile design, UX for mobile interfaces, tips on how to make your mobile App successful and much more.</p>
      <p>You’ll learn tons of practical techniques during 1 day of superb talks, followed by 1 day of hands-on workshops.</p>
      <p>Sainté Mobile Days 2013 takes place at <a href="http://telecom-st-etienne.fr/"><b>Télécom Saint-Etienne</b></a> on <b>November 22nd, and 23rd.</b> Mark your calendar.</p>
    </article>
  </div>
</section>

<section>
  <div class="row speakers">
    <article class="small-12 large-10 columns">
      <header>
        <h4>Speakers</h4>
      </header>
      <ul class="large-block-grid-4 small-block-grid-2">
        <li>
          <a href="/speakers#jeff"><img src="/assets/speakers/jeff.png" /></a>
          <br /><b>Jeff Haynie</b>
        </li>
        <li>
          <a href="/speakers#patrick"><img src="/assets/speakers/patrick.png" /></a>
          <br /><b>Patrick H. Lauke</b>
        </li>
        <li>
          <a href="/speakers#lyza"><img src="/assets/speakers/lyza.png" /></a>
          <br /><b>Lyza Danger Gardner</b>
        </li>
        <li>
          <a href="/speakers#philippe"><img src="/assets/speakers/philippe.png" /></a>
          <br /><b>Philippe Charrière</b>
        </li>
        <li>
          <a href="/workshops#maxime"><img src="/assets/speakers/maxime.png" /></a>
          <br /><b>Maxime Fortelle</b>
        </li>
        <li>
          <a href="/speakers#boydlee"><img src="/assets/speakers/boydlee.png" /></a>
          <br /><b>Boydlee Pollentine</b>
        </li>
        <li>
          <a href="/speakers#stephanie"><img src="/assets/speakers/stephanie.png" /></a>
          <br /><b>Stéphanie Walter</b>
        </li>
        <li>
          <a href="/speakers#sebastien"><img src="/assets/speakers/sebastien.png" /></a>
          <br /><b>Sebastien Desbenoit</b>
        </li>
        <li>
          <a href="/speakers#rob"><img src="/assets/speakers/rob.png" /></a>
          <br /><b>Rob Rusher</b>
        </li>
        <li>
          <a href="/speakers#neil"><img src="/assets/speakers/neil.png" /></a>
          <br /><b>Neil Churcher</b>
        </li>
        <li>
          <a href="/speakers#christian"><img src="/assets/speakers/christian.png" /></a>
          <br /><b>Christian Brousseau</b>
        </li>
      </ul>
    </article>
  </div>
</section>

<section>
  <div class="row">
    <article class="small-12 large-8 columns">
      <h4>Get a ticket</h4>
      <p>Two full days of mobile goodness and a fun packed party on Friday night, with free lunches both days, plus tea, coffee, and snacks.</p>
      <a href="http://tickets.saintemobiledays.com/" class="button">Tickets available now</a>
    </article>
  </div>
</section>
