<section>
  <div class="row">
    <div class="small-12 large-8 columns">
      <h3>Saint-Etienne</h3>
      <p><a href="http://goo.gl/maps/nWK2k">Saint-Etienne</a> is a city in eastern central France. It is located in the Massif Central, 50 km southwest of Lyon.</p>
      <h3>The venue</h3>
      <p>The conference will be held at <a href="http://telecom-st-etienne.fr">Telecom Saint-Etienne</a>, one of the major engineering schools in France with about 500 students.</p>
      <ul class="small-block-grid-2 large-block-grid-3">
        <li><img src="/assets/tse1.jpg"></li>
        <li><img src="/assets/tse2.jpg"></li>
        <li><img src="/assets/tse3.jpg"></li>
        <li><img src="/assets/tse4.jpg"></li>
        <li><img src="/assets/tse5.jpg"></li>
      </ul>
      <h3>Party time</h3>
      <p>
        As well as hearing from great speakers, an awesome conference also needs a great after party.<br />
        The party starts after the first day of conferences at the restaurant <a href="http://www.la-platine.fr">La Platine</a>.
        Check out their facebook photo stream to get a feel of what kind of place it is.
      </p>
      <ul class="small-block-grid-2 large-block-grid-3">
        <li><img src="/assets/laplatine1.jpg"></li>
        <li><img src="/assets/laplatine2.jpg"></li>
        <li><img src="/assets/laplatine3.jpg"></li>
        <li><img src="/assets/laplatine4.jpeg"></li>
      </ul>
    </div>
    <div class="small-12 large-4 columns">
      <h3>How to get there?</h3>
      <div class="hide-for-small">
        <iframe width='300' height='400' frameBorder='0' src='http://a.tiles.mapbox.com/v3/mehlah.map-qk181a8d.html#14/45.45089999999999/4.3957999999999675'></iframe>
      </div>
      <div class="small-12 hide-for-medium-up">
        <a href="https://maps.google.com/maps?q=T%C3%A9l%C3%A9com+Saint-%C3%89tienne,+Universit%C3%A9+Jean+Monnet,+Rue+Docteur+R%C3%A9my+Annino,+Saint-%C3%89tienne,+France&hl=en&ie=UTF8&sll=45.453102,4.387858&sspn=0.007978,0.021136&oq=t%C3%A9l%C3%A9com&hq=T%C3%A9l%C3%A9com+Saint-%C3%89tienne,&hnear=T%C3%A9l%C3%A9com+Saint-%C3%89tienne,+Universit%C3%A9+Jean+Monnet,+25+Rue+Docteur+R%C3%A9my+Annino,+42000+Saint-%C3%89tienne,+Loire,+RA,+France&t=m&z=14">
          <img src="http://a.tiles.mapbox.com/v3/mehlah.map-qk181a8d/4.3957999999999675,45.45089999999999,14/300x400.png" />
        </a>
      </div>
      <address style="font-style: normal">
        <strong>Télécom Saint-Etienne</strong><br />
        25, rue Rémy Annino.<br />
        42000 Saint-Etienne
      </address>
    </div>
  </div>
</section>