<section id="speakers">

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">08:30</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Registration & Breakfast</p>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">09:30</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Welcome</p>
    </div>
  </article>

  <article id="jeff" class="row">
    <div class="small-3 large-2 columns">
      <p class="start">09:45</p>
      <img src="/assets/speakers/jeff.png" />
    </div>
    <div class="small-9 large-8 columns end">
      <header>
        <h3>Jeff Haynie</h3>
      </header>

      <h5>Apps, APIs & Analytics: What 'Mobile First' Really Means</h5>
      <p>
        Jeff will talk about the massive transformation that is happening across the broader industry and how this impact will create huge opportunities and massive dislocations for every single company in the world.
        He will talk about how this change impacts every developer, every executive and every single end-user that interacts with technology - whether at work or in their personal lives. <br />
        He will discuss how Mobile First requires a different way to think about people, process and technology in every business.
      </p>

      <h5>About Jeff</h5>
      <p>Jeff is Co-founder and CEO of <a href="http://appcelerator.com">Appcelerator.</a> Jeff is a long-time serial entrepreneur, technologist and blogger. Previously, Jeff was Co-founder and CTO of Vocalocity, a software provider in the communications arena and before that, CTO of eHatchery, a digital incubator and off-shoot of Bill Gross’ idealab!. Jeff has worked on numerous standard committees such as IETF and W3C as well as core contributor to a number of important open source technologies such as JBoss and OpenVXI. Jeff served with distinction in the U.S. Navy.</p>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">10:15</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Break</p>
    </div>
  </article>

  <article id="patrick" class="row">
    <div class="small-3 large-2 columns">
      <p class="start">10:35</p>
      <img src="/assets/speakers/patrick.png" />
    </div>
    <div class="small-9 large-8 columns end">
      <header>
        <h3>Patrick H. Lauke</h3>
      </header>

      <h5>Getting touchy - an introduction to touch events</h5>
      <p>
        Beyond smartphones and tablets, touchscreens are finding their way into
        laptops and even desktop computers. With hardware support for touch
        becoming increasingly ubiquitous, it's time to explore what new
        possibilities are available to developers. This session will cover the
        basics of handling touch events - from making sure simple single-tap
        interactions are as responsive as possible, all the way to detecting
        multitouch and gestures.
      </p>

      <h5>About Patrick</h5>
      <p>Patrick works as Accessibility Consultant for <a href="http://www.paciellogroup.com">The Paciello Group</a>. In a previous life he was a Web Evangelist in the Developer Relations team at <a href="http://www.opera.com">Opera Software ASA</a>, and before that he worked as Web Editor for a large UK university for nearly 10 years. <br />
      He's been involved in the discourse around Web Standards and Accessibility since 2001, actively speaking at conferences and participating in initiatives such as the Web Standards Project (WaSP). <br />
      An outspoken accessibility and standards advocate, Patrick favours a pragmatic hands-on approach over purely theoretical, high-level discussions. <br />
      <blockquote>I'm an idealist by nature, but a pragmatist by trade. I'd never class myself as an expert and I certainly don't have all the answers... I'm just an opinionated guy eager to find real world solutions 'where the rubber meets the road'.</blockquote></p>
      <p>His personal corner of the web can be found at <a href="http://www.splintered.co.uk">www.splintered.co.uk</a>.</p>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">11:05</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Break</p>
    </div>
  </article>

  <article id="stephanie" class="row">
    <div class="small-3 large-2 columns">
      <p class="start">11:25</p>
      <img src="/assets/speakers/stephanie.png" />
    </div>
    <div class="small-9 large-8 columns end">
      <header>
        <h3>Stéphanie Walter</h3>
      </header>

      <h5>Responsive Web Design: beyond flexible grids and fluid images</h5>
      <p>
        For most people, the term “Responsive Web Design” refers to fluid grids,
        flexible images and media-queries. This is actually just the tip of the iceberg
        and there is a whole more to do if we want to provide users the best experience possible
        regardless to the device they are using. Based on what I’ve seen on “real” projects,
        I’ll show you some of the challenging and “not so pink” areas in the field.
        We will also take a closer look at what is possible and will be possible in the future
        to improve experience on many devices.
      </p>

      <h5>About Stéphanie</h5>
      <p>Stéphanie is a Graphic & Web Designer, Pixel & CSS lover and coffee addict. She works as a Web and UX design for mobile and web applications both as a freelance for her studio <a href="http://www.inpixelitrust.fr">inpixelitrust</a> and in <a href="http://www.alsacreations.fr">an agency in Strasbourg</a>.</p>
      <p>She really enjoys experimenting and playing with new things so she speciallized in mobile Responsive Webdesign:  the mobile is a whole new world to discover and build uppon.</p>
      <p>She loves to share her knowledge, ideas and discoveries by publishing articles, demos and tutorials on different blog all around the web. She deeply thinks that sharing what people learn from personnal experience in daily projects, both successes and failures, will help everybody make the web a better place.</p>
      <p>Even if she does not fear neither CSS, nor spiders, she’s usually both terrified and thrilled when it comes to sharing her personnal experience in conferences with other people :)</p>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">12:00</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Lunch Break</p>
    </div>
  </article>

  <article id="neil" class="row">
    <div class="small-3 large-2 columns">
      <p class="start">14:00</p>
      <img src="/assets/speakers/neil.png" />
    </div>
    <div class="small-9 large-8 columns end">
      <header>
        <h3>Neil Churcher</h3>
      </header>

      <h5>Talk details</h5>
      <p>
        TBA
      </p>

      <h5>About Neil</h5>
      <p>
        Neil Churcher is a digital design strategist and design implementer and is currently Head of Design at the Orange Design and Usability group based in London and Paris. Neil is responsible for the Orange design standard for digital products and services including the design of customisation for Android, iOS and Windows Mobile. Neil develops the Orange Interaction Guidelines for digital and manages the Design Governance for digital products and services. Neil was educated in Design at London’s Royal College of Art and has previously worked as a designer in the digital environment for British Telecom (BT) and Telecom Italia. Neil ran the London design agency Edwards Churcher for 7 years which developed the first colour smart phone UI for Symbian. Neil was also the Academic Director of Interaction Design Insititue Ivrea in Italy for 1 year which specialised in design innovation. Neil has won numerous design awards including a D&AD Yellow Pencil for Interactive Advertising in 2001.
      </p>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">14:30</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Break</p>
    </div>
  </article>

  <article id="lyza" class="row">
    <div class="small-3 large-2 columns">
      <p class="start">14:50</p>
      <img src="/assets/speakers/lyza.png" />
    </div>
    <div class="small-9 large-8 columns end">
      <header>
        <h3>Lyza Danger Gardner</h3>
      </header>

      <h5>Saving the Web by doing as little as possible</h5>
      <p>
        The hack - and detail - heavy way we're building the web for all those devices right now won't scale—it already isn't.
        The less-is-more vision of the future web champions simplicity and elegance: putting commonality first, approaching differentiation
        as part of our progressive enhancement, and advocating for consistency in the creation and application of web standards. Can we pull it off?
      </p>

      <h5>About Lyza</h5>
      <p>Lyza Danger Gardner is a dev. She has built, broken and hacked web things since 1996. Curiously, Lyza was actually born and raised in Portland, Ore., the town where everyone wants to be but no one seems to be from.</p>
      <p>Apparently too cool for (high) school, Lyza started college early and cobbled together a motley education: a BA in Arts and Letters from Portland State University, followed by a master’s program in computer science at the University of Birmingham (UK).</p>
      <p>Lyza has written a lot of web applications (server-side devs, represent!), defeated wily content management systems, optimized mobile web sites, pounded on various APIs, and worried a lot about databases. Fascinated by the way mobile technology has changed things, she now spends a lot of time thinking about the future of the web, mobile and otherwise.</p>
      <p>Since co-founding Cloud Four, a Portland-based mobile web agency, in 2007, Lyza has voyaged further into the deep, untrammeled reaches of Device Land, exploring the foibles and chaos of mobile browsers and the mobile web. She has an odd set of anachronistic hobbies and it has been said she takes a fair number of photographs. She owns a four-letter .com domain. I bet you can guess what it is and go visit her there.</p>
      <p>Lyza and co-founder Jason Grigsby are the authors of <em>Head First Mobile Web</em> (O'Reilly).</p>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">15:20</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Break</p>
    </div>
  </article>

  <article id="sebastien" class="row">
    <div class="small-3 large-2 columns">
      <p class="start">15:40</p>
      <img src="/assets/speakers/sebastien.png" />
    </div>
    <div class="small-9 large-8 columns end">
      <header>
        <h3>Sebastien Desbenoit</h3>
      </header>

      <h5>Icons is UX</h5>
      <p>
        Too often we fill interfaces with icons, without even realizing it.
        But choosing and/or designing the right icon(s) for our apps is not as easy as it looks.
      </p>
      <p>
        How icons could enhance or kill the UX of our interfaces? Let's find out!
      </p>

      <h5>About Sebastien</h5>
      <p>Equipped with a Maths degree, Sebastien has started to design in a modern art gallery before joining a signage agency. He is currently designer at ThinkInnovation.</p>
      <p>Working on interfaces, icons, infographics or data visualizations, he aims at improving the transmission of simple concepts and ideas. He also contributes to <a href="http://www.webplatform.org">WebPlatform.org</a>, Internet & Moi and is part of the Sud Web conference staff.</p>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">16:10</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Break</p>
    </div>
  </article>

  <article id="boydlee" class="row">
    <div class="small-3 large-2 columns">
      <p class="start">16:30</p>
      <img src="/assets/speakers/boydlee.png" />
    </div>
    <div class="small-9 large-8 columns end">
      <header>
        <h3>Boydlee Pollentine</h3>
      </header>
      <h5>The Business of Mobile Development</h5>
      <p>
        Boydlee has run successful software development startups both in Australia and the UK,
        with a strong emphasis on cross platform software and more recently, mobile technologies.
        In this talk, he'll discuss his experience in what it takes to build a mobile development
        business, how to deal with client relationships, and where your priorities as a business
        owner should be, along with the pitfalls and mistakes that he has made so that you don't have to.
      </p>

      <h5>About Boydlee</h5>
      <p>Boydlee has spent the last 10+ years working for large corporations and government departments in Australia, as well as successfully running a software development company for a number of years. He now owns and runs a small digital and mobile agency based in Norwich called <a href="http://www.tipsyandtumbler.co.uk">Tipsy & Tumbler</a> with his partner, Hannah.</p>
      <p>An early adoptor of Titanium, he is also a Titan, TCAD and has spoken at numerous events including Mobile Monday and London Titanium. He's even written a book about Titanium development (available from Amazon, Packt Publishing and all good book stores and online retailers!).</p>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">17:00</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Break</p>
    </div>
  </article>

  <article id="philippe" class="row">
    <div class="small-3 large-2 columns">
      <p class="start">17:20</p>
      <img src="/assets/speakers/philippe.png" />
    </div>
    <div class="small-9 large-8 columns end">
      <header>
        <h3>Philippe Charrière</h3>
      </header>

      <h5>Backbone can help to build a mobile application ? (Talk in French)</h5>
      <p>
        There are many of javascrit frameworks out there. They really meet the needs? <br />
        Should we go "from scratch"?<br />
        Is Backbone a solution?
      </p>
      <ul>
        <li>What is Backbone?</li>
        <li>Backbone yes, but not alone</li>
      </ul>

      <h5>About Philippe</h5>
      <p>Philippe (aka <a href="https://twitter.com/k33g_org">@k33g_org</a>) is bid manager at Steria (Lyon) and technical "Swiss Army Knife".<br />
      He has over 15 years of past experience in the following positions (in random order and several times): sales engineer, developer, project manager , IT manager, architect, CTO, pre-sales manager...</p>
      <p>His passions are essentially about the development (almost around 95%):</p>
      <ul>
        <li>Mobile & tablets (started with a TI57... Ok nobody knows)</li>
        <li>Javascript (because it's too cool)</li>
        <li>Play framework: because finally, after all these years, it gives him the impression that Java for the Web is easier than ASP.Net!</li>
        <li>And finally GOLO, a (french) lightweight dynamic language for the JVM</li>
      </ul>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">17:50</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Break</p>
    </div>
  </article>

  <article id="rob" class="row">
    <div class="small-3 large-2 columns">
      <p class="start">18:10</p>
      <img src="/assets/speakers/rob.png" />
    </div>
    <div class="small-9 large-8 columns end">
      <header>
        <h3>Rob Rusher</h3>
      </header>

      <h5>Are you looking at my Glass?</h5>
      <p>
        Google GLASS is the most interesting examples of wearable computing to date.<br />
        Come experience what it is like to use and develop applications for Google GLASS.
        This session will demonstrate the features and function of Google GLASS as well as introduce you to how to build Glassware.
        <b>And "Yes!", you can even try it out.</b>
      </p>

      <h5>About Rob</h5>
      <p>Rob Rusher is a nationally recognized leader in the realm of software user experience transformation and technology. In his role at On3, Rob creates multi-screen application strategies for businesses around the globe. Rob is a recognized innovator in development, community and education. He has taught and mentored the technical teams at Standard and Poor’s, eBay, IBM Global Services, Overstock, US Government and Fortune 100 organizations.</p>
      <p>Because of his depth of knowledge and long standing industry relationship, Rob was selected to write programming training courses and their corresponding certification exams for multiple web and mobile development technologies. Rob has also co-authored four best-selling books on building secure, cutting-edge and rapidly developed applications. He is also very active is organizing and speaking at user experience, application development and mobile conferences and user groups. In addition to growing his software consulting practice, On3, Rob has been building expertise in application design and software development on a wider variety of devices and platforms that extend the applications to change the way we all create and live.</p>
    </div>
  </article>

  <article class="row">
    <div class="small-3 large-2 columns">
      <p class="start break">19:30</p>
    </div>
    <div class="small-9 large-8 columns end">
      <p>Dinner & Party time</p>
    </div>
  </article>
</section>