<section id="workshops">

  <div class="row">
    <div class="small-12 large-10 columns">
      <h3>SMD Workshops</h3>
      <p>We've been gathering the best masters to help you craft your skills, and make something with your own hands. <br />So far, confirmed workshops are detailled below.</p>
      <p>Schedule and final info coming soon. <b>Come learn with the best!</b></p>
      <hr/>
    </div>
  </div>

  <article id="maxime" class="row">
    <div class="small-3 large-2 columns text-center">
      <img src="/assets/speakers/maxime.png" />
    </div>
    <div class="small-9 large-10 columns">
      <header>
        <h3>Sketching, prototyping and testing a mobile application UI</h3>
        <h5>Maxime Fortelle</h5>
      </header>
      <p>
        When creating a mobile service, it is important to select the features that make the difference in a competitive environment.
        Rapid prototyping can optimize design choices and explore new ideas in a very short time.
      </p>
      <p>
        Armed with a pencil, Post-it notes and ideas, this workshop will give you the best practices for the early sketches of a mobile application
        and testing it with a panel of users.<br />
        Then it's up to you to choose what to keep or remove.
      </p>
      <ul class="no-bullet">
        <li><b>Duration:</b> 2 hours</li>
      </ul>
    </div>
  </article>

  <article id="boydlee" class="row">
    <div class="small-3 large-2 columns text-center">
      <img src="/assets/speakers/boydlee.png" />
      <img src="/assets/speakers/christian.png" />
    </div>
    <div class="small-9 large-10 columns">
      <header>
        <h3>Building mobile apps with Titanium and Alloy</h3>
        <h5>Boydlee Pollentine & Christian Brousseau</h5>
      </header>
      <p>Introduction workshop on Titanium and Alloy where attendees make a basic app on the day.</p>
      <ul class="no-bullet">
        <li><b>Duration:</b> 3 to 4 hours</li>
      </ul>
    </div>
  </article>

  <article id="patrick" class="row">
    <div class="small-3 large-2 columns text-center">
      <img src="/assets/speakers/patrick.png" />
    </div>
    <div class="small-9 large-10 columns">
      <header>
        <h3>Getting touchy - an introduction to touch events</h3>
        <h5>Patrick H. Lauke</h5>
      </header>
      <p>As a follow-up to Patrick's talk, this workshop offer some more depth on touch events.</p>
      <ul class="no-bullet">
        <li><b>Duration:</b> 3 hours</li>
      </ul>
    </div>
  </article>

  <article id="sebastien" class="row">
    <div class="small-3 large-2 columns text-center">
      <img src="/assets/speakers/sebastien.png" />
    </div>
    <div class="small-9 large-10 columns">
      <header>
        <h3>Improve your UX with icons!</h3>
        <h5>Sébastien Desbenoit</h5>
      </header>
      <p>Bring your interface. Let's test, validate, propose and improve it with this workshop.</p>
      <ul class="no-bullet">
        <li><b>Duration:</b> 2 hours</li>
      </ul>
    </div>
  </article>

  <article id="rob" class="row">
    <div class="small-3 large-2 columns text-center">
      <img src="/assets/speakers/rob.png" />
    </div>
    <div class="small-9 large-10 columns">
      <header>
        <h3>Google Glass</h3>
        <h5>Rob Rusher</h5>
      </header>
      <p style="margin-bottom: 0">In this workshop, Rob will cover:</p>
      <ul>
        <li>The Mirror API overview</li>
        <li>Using the Glass playground to test apps without installing on the device</li>
        <li>Deploying a Glassware app too the device</li>
      </ul>
      </p>
      <ul class="no-bullet">
        <li><b>Duration:</b> 3 to 4 hours</li>
      </ul>
    </div>
  </article>

</section>